:root{
  --primary-clr:"#E9E9E9";
  --bg-clr:"#192537";
}
body {
  background-color: var(--bg-clr) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hideDesktop{ display: none;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login form{
  width: 400px;
}
.login input{
  padding-block: 8px !important;
}

/* dashboard */
.dashboard aside li:hover{
  background-color: rgb(225, 239, 243) ;
  /* background-color: rgb(238, 243, 245) ; */
}
.dashboard aside li.active{
  /* background-color: var(--bg-clr) !important ; */
  background-color: #2d3642 !important ;
  color:white;
  font-weight: 500;
}
.dashboard .dashboard-card:hover{
  background-color: #192538 !important;
  color: white !important;
}
.dashboard .dashboard-card:hover svg{
  color: white !important;
}
.dashboard .dashboard-card:hover .small-square{
  background-color: rgb(120 127 120) !important;
}
.dashboard-table thead ,
.dashboard-table tbody { border: none !important; }
.dashboard-table td{ vertical-align: middle; }
.dashboard-table tbody tr {
  /* background:var(--bs-light); */
  border-style: hidden;
  margin-bottom: 10px;
}
.dashboard-table tbody td:nth-child(4){ color: #ffa500; }
@media screen and (max-width:992px) {

  .dashboard aside{
    position: fixed !important;
    width: 300px !important;
    background-color: var(--bs-light);
    z-index: 1;
    left: -100%;
    transition: all .4s ease-in-out;
  }
  .dashboard aside.open{ left: 0; }
  .dashboard aside.open + .overlay{ z-index: 0; }
  .dashboard main{ width: 100% !important; }
  .show{ display: block !important;}
  .hide{display: none !important;}

  .profile form{ min-width:unset !important }
}

@media screen and (max-width:768px) {
  .login > div:last-of-type{
    width: 100% !important;
  }
  .dashboard .tablechart > div{ 
    width: 100% !important; 
    max-width: unset !important; 
    margin-right: 20px; }

  }
  .profile .user-details{ gap:50px !important}
  .profile input{ height: 45px;}

@media screen and (max-width:400px) {
  .login form{ width: 100%}
  .login input{
    width: 100%;
  }
  .dashboard-table tbody{ font-size: 14px; }
  .profile div > p{ padding-bottom: 0 !important; }
}