:root{
  --primary-clr:"#E9E9E9";
  --bg:"#192537";
}
body {
  background-color: var(--bg) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login form{
  width: 400px;
}
.login input{
  padding-block: 8px !important;
}

/* dashboard */
.dashboard aside li:hover{
  background-color: rgb(225, 239, 243) ;
  /* background-color: rgb(238, 243, 245) ; */
  
}
.dashboard aside li.active{
  /* background-color: var(--bg) !important ; */
  background-color: #2d3642 !important ;
  color:white;
  font-weight: 500;
}

@media screen and (max-width:768px) {
  .login > div:last-of-type{
    width: 100% !important;
  }

  }

@media screen and (max-width:400px) {
  .login form{ width: 100%}
  .login input{
    width: 100%;
  }
}